/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/js/
# php temp file
*.php~
# phpstorm folder
/.idea/*
composer.phar
/web/sitemap.xml
/web/sitemap_index.xml
/node_modules/
/web/assets/
/web/uploads/user_picture/*
/src/.idea
test.js
cs_fixer*
.php_cs.cache
/web/assetic/
/web/vendor/
/web/dist/
app/autoload-local.php
/bin/*
!/bin/scripts
.env
docker-compose.override.yml
*.DS_Store
